<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#/">ReadyNoteStack</a>

            <div class="nav-collapse">
                <ul class="nav" id="navigation-tabs">
                    <li><a href="#/">Home</a></li>

                    <li><a href="#/projects">Projects</a></li>
                    <li><a href="#/issues">Issues</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>