<div class="hero-unit">
    <h3>New project</h3>

    <div class="control-group" ng-class="{success:'success', error:'error', empty:'info'}[nameExists()]">

        <label class="control-label" for="inputInfo">Create a new project</label>

        <div class="controls">
            <input type="text" id="inputInfo" ng-model="projectName">
            <button ng-click="createProject()" class="btn"
                    ng-class="{success:'btn-success', empty:'btn-info disabled'}[nameExists()]">Create!
            </button>

        </div>
    </div>
</div>

<div class="row">

    <div class="span4" ng-repeat="project in projects">
        <h3>{{project.name}}</h3>

        <p>This is some static text with a description of the project, jatta jatta jatta! There are currently
            {{project.issues.length}} issues in this project</p>

        <p>
            <a class="btn btn-info" href="#/projects/{{project.id}}">View details &raquo;</a>
            <button ng-click="deleteProject(project.id)" class="btn btn-danger pull-right"
                    href="#/projects/{{project.id}}">Delete project &raquo;</button>
        </p>
    </div>
</div>